	<div class="counter">
		<div id="slot_4015"></div>
		<div id="slot_217">
			<img src="./Mail.Ru_ почта, поиск в интернете, новости, игры_files/d1398861.gif" style="width:0;height:0;position:absolute;visibility:hidden;" alt="">
			<img src="./Mail.Ru_ почта, поиск в интернете, новости, игры_files/i1629.gif" style="width:0;height:0;position:absolute;visibility:hidden;" alt="">
		</div>
		<div id="slot_5029"></div>
	</div>



<!-верхняя рыжая полоса->


<div id="tb-21633881" class="tb-21633881">
		<div class="w-tb-21633881">
			<span class="tb__text-21633881">Заходить на Mail.Ru можно проще. Сделайте Mail.Ru домашней страницей</span>
			
			<div class="tb__buttons-21633881">
				<span id="tb__button_default-21633881" class="tb__button-21633881 tb__button_default-21633881">
					<span class="tb__button__icon-21633881 tb__button__icon_default-21633881"></span>Да, сделать</span>
					<span id="tb-cancel-21633881" class="tb__button-21633881 tb__button_cancel-21633881">Нет, спасибо</span>
			</div>
			<span id="tb-close-21633881" class="tb__close-21633881" title="Закрыть"><span class="tb__close__icon-21633881">×</span></span>
		</div>
	</div>

<!-верхняя вторая полоса->

<table class="w-x-ph" cellspacing="0">
				<tbody><tr><td class="w-x-ph__col w-x-ph__col_left"><a href="https://r.mail.ru/n201584216?sz=39&amp;rnd=212754917" rel="nofollow" class="x-ph__link x-ph__link_first x-ph__link_selected">Mail.Ru</a><a id="ph_mail" href="https://r.mail.ru/n214942162?sz=39&amp;rnd=212754917" rel="nofollow" class="x-ph__link"><span class="x-ph__link__text">Почта</span><i class="x-ph__link__balloon" id="g_mail_events"></i></a><a id="ph_my" rel="nofollow" style="" class="x-ph__link" href="https://r.mail.ru/n201584217?sz=39&amp;rnd=212754917"><span class="x-ph__link__text">Мой Мир</span><i class="x-ph__link__balloon" id="g_my_events">0</i></a><span class="w-x-ph__link" style=""><a rel="nofollow" class="x-ph__link" href="https://r.mail.ru/n165062873?sz=39&amp;rnd=212754917"><span class="x-ph__link__text">Одноклассники</span><i class="x-ph__link__balloon" id="g_ok_events">0</i></a><span id="PH_bub:ok" class="x-ph-bub__placeholder"></span></span><a class="x-ph__link" href="https://r.mail.ru/n214942163?sz=39&amp;rnd=212754917" rel="nofollow" style=""><span class="x-ph__link__text">Игры</span><i class="x-ph__link__balloon" id="g_games_events">0</i></a><a href="https://r.mail.ru/n93284360?sz=39&amp;rnd=212754917" rel="nofollow" style="" class="x-ph__link"><span class="x-ph__link__text">Знакомства</span><i class="x-ph__link__balloon" id="g_love_events"></i></a><a href="https://r.mail.ru/n211521266?sz=39&amp;rnd=212754917" rel="nofollow" style="" class="x-ph__link">Новости</a><a href="https://r.mail.ru/n93284362?sz=39&amp;rnd=212754917" rel="nofollow" style="" class="x-ph__link">Поиск</a><a id="PH_allProjects" class="x-ph__link" href="https://r.mail.ru/n201584218?sz=39&amp;rnd=212754917" rel="nofollow" style="display: none;">Все проекты</a><span class="x-ph__menu" id="PH_projectsMenu" style="display: inline-block;"><i class="w-x-ph__menu__button__shadow w-x-ph__menu__button__shadow_left"></i><i class="w-x-ph__menu__button__shadow w-x-ph__menu__button__shadow_right"></i><a rel="nofollow" class="x-ph__menu__button" id="PH_projectsMenu_button" href="https://mail.ru/#"><i class="x-ph__menu__button__icon"></i><i class="x-ph__menu__button__text">Все проекты</i></a><span class="x-ph__menu__dropdown x-ph__projects" id="PH_projectsMenu_dropdown" style="display: none;"><span class="w-x-ph__menu__dropdown w-x-ph__projects"><span class="x-ph__projects__col"><a rel="nofollow" href="https://r.mail.ru/n211521267?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link">Авто</a><a rel="nofollow" href="https://r.mail.ru/n211521269?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link">Гороскопы</a><a rel="nofollow" href="https://r.mail.ru/n211521270?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link">Дети</a><a rel="nofollow" href="https://r.mail.ru/n115574315?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link">Добро</a><a rel="nofollow" href="https://r.mail.ru/n211521271?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link">Здоровье</a><a rel="nofollow" href="https://r.mail.ru/n153044902?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link">Календарь</a></span><span class="x-ph__projects__col"><a rel="nofollow" href="https://r.mail.ru/n211521268?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link">Кино</a><a rel="nofollow" href="https://r.mail.ru/n211521272?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link">Леди</a><a rel="nofollow" href="https://r.mail.ru/n211521273?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link">Недвижимость</a><a rel="nofollow" href="https://r.mail.ru/n118974776?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link">Облако</a><a rel="nofollow" href="https://r.mail.ru/n93284364?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link">Ответы</a><a rel="nofollow" href="https://r.mail.ru/n211521274?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link">Погода</a></span><span class="x-ph__projects__col"><a rel="nofollow" href="https://r.mail.ru/n211521275?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link">Спорт</a><a rel="nofollow" href="https://r.mail.ru/n211521276?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link">ТВ программа</a><a rel="nofollow" href="https://r.mail.ru/n112104058?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link">Товары</a><a rel="nofollow" href="https://r.mail.ru/n211521277?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link">Cars</a><a rel="nofollow" href="https://r.mail.ru/n211521278?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link">Hi-Tech</a></span><span class="x-ph__projects__col x-ph__projects__col_last"><a rel="nofollow" href="https://r.mail.ru/n165062876?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link">Почта для бизнеса</a><a rel="nofollow" href="https://r.mail.ru/n165062878?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link">Почта для образования</a><a rel="nofollow" href="https://r.mail.ru/n107041953?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link">Рейтинг сайтов</a><a rel="nofollow" href="https://r.mail.ru/n193358540?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link" target="_blank">Таргет</a></span><span class="x-ph__projects__apps"><a rel="nofollow" href="https://r.mail.ru/n211521279?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link x-ph-ico x-ph-ico_mobileapps"> Мобильные приложения</a><a rel="nofollow" href="https://r.mail.ru/n94823254?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link x-ph-ico x-ph-ico_agent"> Агент Mail.Ru</a><a rel="nofollow" href="https://r.mail.ru/n118974775?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link x-ph-ico x-ph-ico_amigo"> Браузер «Амиго»</a><a rel="nofollow" href="https://r.mail.ru/n94823255?sz=39&amp;rnd=212754917" class="js-link x-ph__projects__link x-ph-ico x-ph-ico_icq"> ICQ</a></span></span></span></span></td><td class="w-x-ph__col w-x-ph__col_right"><div id="PH_authView" style="display:none"><table class="x-ph__auth" cellspacing="0"><tbody>
				<tr><td class="w-x-ph__auth__col w-x-ph__auth__col_left"><span id="PH_singleuser" class="x-ph__auth__user" style="display: none;"><span class="w-x-ph__auth__user_inner"><span id="PH_user-email_disabled" class="x-ph__auth__user__text"></span><span class="x-ph__auth__user__fade"></span></span></span><div id="PH_miltiuser" style="display: block;" class="w-x-ph__auth__dropdown"><div class="w-x-ph__auth__dropdown__inner"><div class="x-ph__menu x-ph__menu_auth" id="PH_authMenu"><i class="w-x-ph__menu__button__shadow w-x-ph__menu__button__shadow_left"></i><i class="w-x-ph__menu__button__shadow w-x-ph__menu__button__shadow_right"></i><span class="x-ph__menu__button x-ph__menu__button_auth" id="PH_authMenu_button"><i class="x-ph__menu__button_auth__unread" title=""></i><i class="x-ph__menu__button__icon x-ph__menu__button__icon_auth"></i><i class="x-ph__menu__button__text x-ph__menu__button__text_auth" id="PH_user-email">undefined</i></span><div id="PH:authMenu:dropdown" class="x-ph__menu__dropdown x-ph__menu__dropdown_auth" style="display: none;"><div class="w-x-ph__menu__dropdown w-x-ph__menu__dropdown_auth"><div class="w-w-x-ph__menu__dropdown_auth"><div class="x-ph__menu__dropdown_auth__loader"></div><div class="x-ph__menu__dropdown_auth__error">Произошла ошибка соединения</div><div class="x-ph__auth_list x-ph__auth_list_active" id="PH:authMenu:activeAccount"></div><div class="x-ph__menu__dropdown_auth__links" id="PH:authMenu:activeAccountLinks"></div><div class="x-ph__auth_list x-ph__auth_list_not-active" id="PH:authMenu:listWrap"><div id="PH:authMenu:inactiveAccounts"></div></div><div id="PH_menuLogin" class="x-ph__menu__dropdown_auth__login"><div class="x-ph__menu__dropdown_auth__info"><a rel="nofollow" href="https://r.mail.ru/clb1126001/mailblog.mail.ru/multiauth-2/" target="_blank" class="x-ph__menu__dropdown_auth__info__link"><span class="x-ph__menu__dropdown_auth__info__link__text">Вы можете одновременно работать<br>с несколькими почтовыми ящиками.</span> <span class="x-ph__menu__dropdown_auth__info__link__link">Узнать больше</span></a></div><a id="PH_loginAnotherLink" class="x-ph__menu__dropdown_auth__login__link js-login x-ph__button" href="https://r.mail.ru/cls951827/e.mail.ru/login?lang=ru_RU&amp;from=multi" xname="clb1126064"><span class="x-ph__button__fake"><span class="js-text x-ph__button__fake__text">Добавить почтовый ящик</span></span></a></div></div></div></div></div></div></div></td><td class="w-x-ph__auth__col w-x-ph__auth__col_right"><a id="PH_logoutLink" class="x-ph__link x-ph__link_last x-ph__auth__link" href="https://r.mail.ru/cls1074201/auth.mail.ru/cgi-bin/logout?next=1&amp;lang=ru_RU&amp;Page=https%3A%2F%2Fmail.ru%2F%3Ffrom%3Dlogout%26ref%3Dmain" title="выход" rel="nofollow" xname="clb14767676">выход</a></td></tr></tbody></table></div><div id="PH_noAuthView" style=""><table class="x-ph__auth" cellspacing="0"><tbody><tr><td class="w-x-ph__auth__col w-x-ph__auth__col_right"><a id="PH_regLink" class="x-ph__link x-ph__auth__link" rel="nofollow" href="https://r.mail.ru/cls718344/r.mail.ru/clb1126010/e.mail.ru/signup?from=navi&amp;lang=ru_RU&amp;siteid=169&amp;rnd=212754917">Регистрация</a><a class="x-ph__link x-ph__link_last x-ph__auth__link" href="https://r.mail.ru/cls951827/e.mail.ru/login?lang=ru_RU" rel="nofollow" id="PH_authLink" xname="">Вход</a></td></tr></tbody></table></div></td></tr></tbody>
				
				</table>



<!-тело->




















	<div class="counter">
		<img src="./Mail.Ru_ почта, поиск в интернете, новости, игры_files/d523187.gif" alt="">
		<img src="./Mail.Ru_ почта, поиск в интернете, новости, игры_files/d17184638.gif" style="width:0;height:0;position:absolute;visibility:hidden;" alt="">
		<img src="./Mail.Ru_ почта, поиск в интернете, новости, игры_files/d1165028.gif" style="width:0;height:0;position:absolute;" alt="">
		<img src="./Mail.Ru_ почта, поиск в интернете, новости, игры_files/pixel" style="width:0;height:0;position:absolute;visibility:hidden;" alt="">
		<img src="./Mail.Ru_ почта, поиск в интернете, новости, игры_files/cm.gif" style="width:0;height:0;position:absolute;visibility:hidden;" alt="">
		<img src="./Mail.Ru_ почта, поиск в интернете, новости, игры_files/U_4amYGH3by40X00gP800OwtQLST1MnPYBhJ0H04agcEPWEcG8e1gW6bbHmwaRpGIMG6auKDGQxswDfur72lu0In0RlhwnEnLdlHL7W8" style="width:0;height:0;position:absolute;visibility:hidden;" alt="">
		<img src="./Mail.Ru_ почта, поиск в интернете, новости, игры_files/un" style="width:0;height:0;position:absolute;" alt="" class="mailru-freqcapping-pixel">
		<img src="./Mail.Ru_ почта, поиск в интернете, новости, игры_files/d703057.gif" alt="">
	</div>